# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
env/
venv/
.venv/
instance/
.env

# === Node / React ===
node_modules/
build/
dist/
.cache/
*.log

# === IDE / OS ===
.vscode/
.idea/
.DS_Store
Thumbs.db

# === Autres fichiers temporaires ===
*.bak
*.swp
*.tmp
